.header {
    position: relative;
    padding: 25px 0 39px;
    

    &-logo-link {
        display: inline-block;
    }
    &-logo-img {
        max-width: 172px;
        max-height: 49px;
    }

    >.container {
        display: flex;
    }

    &-nav {
        display: flex;
        width: 100%;

    }

    &-nav__list {
        display: flex;
        gap: 25px;
        padding: 0;
        margin: 0 auto;
    }

    &-nav__link {
        padding: 16px 10px 10px;
        color: #fff;
        text-decoration: none;
    }

    &-nav__link:hover {
        color: orange;
    }



    &-nav__item {
        display: flex;
    }
    .btn {
        border: 0;
        border-radius: 90px;
        background-color: #E58D35;
        color: #FFFFFF;
        padding: 13px 17px;
        align-items: center;
        font-weight: 600;
        font-size: 15px;
        line-height: 146%;
    }
      

    .btn-primary {
        padding: 13px 22px;
    }
}

.btn-burger {
    margin-left: auto;
}

