
$font-primary: "ProximaNova";
$color-primary: #E58D35;
$color-secondary: #89C249;
$bg-primary:#282B38;
$bg-secondary: #363A4D;
$text-color: #fff;
$container-padding: 15px;
$container-mobile-padding: 20px;

$primary-color: #222;
$secondary-color: #f00;


@mixin default-bg {
    padding: 55px 0 60px;

    &:before {
        border-radius: 0;
        left: 0;
        right: 0;
    }
}